.schema-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown {
  width: 120;
  flex-grow: 1;
  font-size: '18px';
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: #f7f7f7;
  background-color: #b5cce0;
}
.ant-select-selection-item,
.ant-select-item-option-content {
  font-size: 20px;
}

@media (max-width: 768px) {
  .schema-select {
    margin-bottom: 20px;
  }
}
